<h1>Cars</h1>
<table class="place-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Type</th>
      <th>Engine type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let arrangement of arrangementsAll; let i = index">
      <td>{{ arrangement.id }}</td>
      <td>{{ arrangement.brand }}</td>
      <td>{{ arrangement.model }}</td>
      <td>{{ arrangement.price }}</td>
      <td>{{ arrangement.type }}</td>
      <td>{{ arrangement.engineType }}</td>
      <td>
        <form [formGroup]="dateTimeForm" (ngSubmit)="rentCar(arrangement)">
          <label>Begin date:</label>
          <input type="date" formControlName="dateB" />

          <label>Time:</label>
          <input type="time" formControlName="timeB" />
          <br />
          <label>Return date:</label>
          <input type="date" formControlName="dateR" />

          <label>Time:</label>
          <input type="time" formControlName="timeR" />

          <br />
          <button
            type="submit"
            *ngIf="loggedUser"
            [disabled]="loggedUser.role != 'ROLE_Regular'"
          >
            Rent!
          </button>
        </form>
      </td>
      <td>
        <button *ngIf="loggedUser"
        [disabled]="loggedUser.role != 'ROLE_Regular'" (click)="buyCar(arrangement.id)">Buy car</button>
      </td>
    </tr>
  </tbody>
</table>
