<h1>Recommended arragements</h1>
<table class="place-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Price of the arrangement (per person)</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ar of arrangementRecommendations">
          <td>{{ ar.arrangementDTO.id }}</td>
          <td>{{ ar.arrangementDTO.name }}</td>
          <td>{{ ar.arrangementDTO.location }}</td>
          <td>{{ ar.arrangementDTO.price }}</td>
          <td><ul *ngFor="let tag of ar.tags">{{tag}}</ul></td>
        </tr>
    </tbody>
</table>
