<div class="register-container" style="margin-top: 40px">
  <h1>Add a New Arragement</h1>
  <form [formGroup]="registerForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" />
    </mat-form-field>
    <br />

    <button mat-flat-button color="primary" (click)="RegisterArr()">
      Register
    </button>
  </form>
</div>
<div>
  <h2>Add a New Trip</h2>
  <form action="/api/trips" method="POST">
    <label for="name">Name:</label>
    <input [(ngModel)]="trip.name" type="text" id="name" name="name" required />

    <label for="price">Price:</label>
    <input
      [(ngModel)]="trip.price"
      type="number"
      id="price"
      name="price"
      min="0"
      step="0.01"
      required
    />

    <label for="description">Description:</label>
    <textarea
      [(ngModel)]="trip.description"
      id="description"
      name="description"
      rows="3"
      required
    ></textarea>

    <label for="type">Trip type:</label>
    <mat-select [(ngModel)]="trip.type" id="type" name="type">
      <mat-option value="HISTORY">History</mat-option>
      <mat-option value="CULTURAL">Cultural</mat-option>
      <mat-option value="GASTRONOMIC">Gastronomic</mat-option>
      <mat-option value="SPORTS">Sports</mat-option>
      <mat-option value="SPORTS">Relaxation</mat-option>
      <mat-option value="DIVING">Diving</mat-option>
      <mat-option value="HIKING">Hiking</mat-option>
    </mat-select>
    <br>

    <button type="submit" (click)="AddTrip()">Add Trip</button>
  </form>
</div>
