form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    mat-form-field {
      width: calc(50% - 8px);
    }
  
    button {
      width: auto;
      align-self: flex-end;
    }
  }
  